# Maven/Gradle
target/
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Database
*.db
*.db-journal
*.sqlite

# Environment variables
.env
*.env

# Dependencies
node_modules/

# Misc
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
